@media (min-width: 0) {
  .col-xs-1 {
    width: 8.33333%;
    float: left; }
  .col-xs-2 {
    width: 16.66667%;
    float: left; }
  .col-xs-3 {
    width: 25%;
    float: left; }
  .col-xs-4 {
    width: 33.33333%;
    float: left; }
  .col-xs-5 {
    width: 41.66667%;
    float: left; }
  .col-xs-6 {
    width: 50%;
    float: left; }
  .col-xs-7 {
    width: 58.33333%;
    float: left; }
  .col-xs-8 {
    width: 66.66667%;
    float: left; }
  .col-xs-9 {
    width: 75%;
    float: left; }
  .col-xs-10 {
    width: 83.33333%;
    float: left; }
  .col-xs-11 {
    width: 91.66667%;
    float: left; }
  .col-xs-12 {
    width: 100%;
    float: left; } }

@media (min-width: 768px) {
  .col-sm-1 {
    width: 8.33333%;
    float: left; }
  .col-sm-2 {
    width: 16.66667%;
    float: left; }
  .col-sm-3 {
    width: 25%;
    float: left; }
  .col-sm-4 {
    width: 33.33333%;
    float: left; }
  .col-sm-5 {
    width: 41.66667%;
    float: left; }
  .col-sm-6 {
    width: 50%;
    float: left; }
  .col-sm-7 {
    width: 58.33333%;
    float: left; }
  .col-sm-8 {
    width: 66.66667%;
    float: left; }
  .col-sm-9 {
    width: 75%;
    float: left; }
  .col-sm-10 {
    width: 83.33333%;
    float: left; }
  .col-sm-11 {
    width: 91.66667%;
    float: left; }
  .col-sm-12 {
    width: 100%;
    float: left; } }

@media (min-width: 992px) {
  .col-md-1 {
    width: 8.33333%;
    float: left; }
  .col-md-2 {
    width: 16.66667%;
    float: left; }
  .col-md-3 {
    width: 25%;
    float: left; }
  .col-md-4 {
    width: 33.33333%;
    float: left; }
  .col-md-5 {
    width: 41.66667%;
    float: left; }
  .col-md-6 {
    width: 50%;
    float: left; }
  .col-md-7 {
    width: 58.33333%;
    float: left; }
  .col-md-8 {
    width: 66.66667%;
    float: left; }
  .col-md-9 {
    width: 75%;
    float: left; }
  .col-md-10 {
    width: 83.33333%;
    float: left; }
  .col-md-11 {
    width: 91.66667%;
    float: left; }
  .col-md-12 {
    width: 100%;
    float: left; } }

@media (min-width: 1200px) {
  .col-lg-1 {
    width: 8.33333%;
    float: left; }
  .col-lg-2 {
    width: 16.66667%;
    float: left; }
  .col-lg-3 {
    width: 25%;
    float: left; }
  .col-lg-4 {
    width: 33.33333%;
    float: left; }
  .col-lg-5 {
    width: 41.66667%;
    float: left; }
  .col-lg-6 {
    width: 50%;
    float: left; }
  .col-lg-7 {
    width: 58.33333%;
    float: left; }
  .col-lg-8 {
    width: 66.66667%;
    float: left; }
  .col-lg-9 {
    width: 75%;
    float: left; }
  .col-lg-10 {
    width: 83.33333%;
    float: left; }
  .col-lg-11 {
    width: 91.66667%;
    float: left; }
  .col-lg-12 {
    width: 100%;
    float: left; } }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  color: #2B2B2B;
  font-family: "Montserrat", sans-serif; }

.headT, .nav .nav__section .nav__section--name, .nav .nav__search .nav__search--name {
  position: relative;
  top: 0.5rem;
  color: #F7B617; }

.nav .nav__section .nav__section--ico {
  background-image: url("../img/menu.png");
  background-size: cover;
  height: 20px;
  margin: 5px; }

.nav .nav__search .nav__search--ico {
  background-image: url("../img/search.png");
  background-size: cover;
  height: 20px;
  margin: 5px; }

.nav__redes {
  display: flex;
  justify-content: flex-end; }
  .nav__redes .nav__redes--face {
    width: 2%;
    margin: 10px; }
  .nav__redes .nav__redes--twit {
    width: 4%;
    margin: 10px; }
  .nav__redes .nav__redes--link {
    width: 4%;
    margin: 10px; }

.navH {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

hr {
  width: 84%;
  margin: 10px auto; }

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .logo__img {
    width: 25%; }

.tiempo {
  text-align: center; }
  .tiempo .tiempo__fecha {
    display: inline-block;
    margin: 8px; }
  .tiempo .tiempo__fecha::after {
    content: '|';
    width: 20px;
    height: 20px;
    margin-left: 5px; }
  .tiempo .tiempo__temp {
    display: inline-block;
    margin-left: 5px; }

.navP {
  margin-top: 20px;
  display: flex;
  justify-content: center; }
  .navP .navP__item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 15vh;
    background: #F7B617;
    color: #fff; }
